.page-container {
  text-align: center;
  padding: 20px;
  font-size: large;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-list-item {
  padding: 5px;
}

.header {
  text-align: center;
  background-color: #222222;
  height: 180px;
  padding: 20px;
  color: white;
}

.header-logo {
  animation: header-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-title {
  font-size: 1.5em;
}

.header-link {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.header-link-active {
  border-bottom: #ebebeb solid 2px;
}

.product-list-item a {
  text-decoration: none;
}

.search-container {
  text-align: right;
  margin-bottom: -25px;
}

.admin-sections {
  list-style: none;
  margin: 0px 0px 20px 0px;
  padding: 0;
}

.admin-sections li {
  display: inline-block;
  margin-right: 10px;
}

.admin-section li a {
  color: #222;
  text-decoration: none;
}

.admin-link-active {
  border-bottom: #6f6e6e solid 2px;
}

.animate-enter {
  opacity: 0;
  z-index: 1;
}

.animate-enter-active {
  opacity: 1;
  transition: opacity 450ms ease-in;
}

.animate-exit {
  display: none;
}